.retry_error_fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .error_box {
    cursor: pointer;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 2rem;
    
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  
  .error_msg {
    margin-top: 1rem;
    color: #ff7777;
    font-size: 1.4rem;
  }
}
