@mixin for-size($size) {
  @if $size == xsmall {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $size == small {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $size == medium {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $size == large {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $size == xlarge {
    @media (min-width: 1201px) {
      @content;
    }
  }
}
